{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": [
      2,
      {
        "custom": "ignore"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": [".storybook/**", "src/**/*.stories.js"] }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
